*{
  font-family: Arial, Helvetica, sans-serif;
}

body{
  padding: 60px;
  margin: 0 auto;
  background-color:rgb(223, 223, 246);
}

input{
  font-size: 1.2rem;
  width: 100%;
  color: grey;
}

.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}




.imgContent{
  align-content: center;
  background-color: #ccc;
  border: 1px solid grey;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin:auto;
  /* background-size : cover;
  float:left; */
  overflow: hidden;

}

.imgContent img{
  display: block;
  text-align: center;
  margin: auto ;
  width:80%;
  max-height: 170px;
}

.imgContent p{
  text-align: center;
  padding: 5px;
}